body{
	margin: 0;
	padding:0;
	background-color: #0DAFC3;
	font-family: "Roboto", sans-serif;
	
}
input{
	background: #DD7580;
	margin: 1rem 0;

}
form{
	background: #F5F8F9;
	padding: 1rem 2rem;
	box-shadow: 4px 4px 12px rgba(0,0,0,2);
	border-radius: 1rem;
	

}