@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body{
	margin:0;
	padding:0;
	background-image: linear-gradient(to right top, #6a7990, #566788, #44547f, #354274, #292f69);
	font-family: 'Impact', sans-serif;
	font-weight: 800;
}
.navbar-light{
	margin: 10px;
	padding-bottom: 8px;
    display: flex;
    font-size: 13px;
    color: white;
    background-color: #f0f0f0;
    align-items: center;
    border: 3px solid #73AD21;
}
.navbar-ex1-collapse{
	padding-bottom: 5px;
	display: flex;
	font-size: 13px;
	background-color: #5E5D6E;
	border-radius: 10px;
}
.navbar-nav{
	padding-bottom: 5px;
	display: flex;
}
.navbar-nav .active{
	font-size: 20px;
	outline: none;
    overflow: hidden;
    font: 18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color:#333;
    margin: 10px;
}
.navbar-nav li a{
	margin: 10px;
	color: white;
	font-weight: 10px;
	padding-bottom: 5px;
    font-size: 18px;
    display: block;
    float: right;
}
.navbar-form .navbar-left{
	display: flex;
	float: left;
	align-items: center;
	margin-bottom: 5px;
	overflow: hidden;
}
.nav .navbar-nav .navbar-right{
	float: right;
	display: block;
}
.phangioithieu-left ul{
	display: flex;
	margin: 10px;
	color: white;
	padding-bottom: 10px;
	margin-bottom: 10px;

}
.phangioithieu-left ul li a{
	margin: 15px;
	color: #ED2A3B;
	font-weight: 15px;
	font-weight: bold;
	font-size: 20px;
	align-items: center;
	
	background-color: #EBAE23;
	border-radius: 20%;
}
.phangioithieu-left{
	background-color: #EEEAF4;
}
.phangioithieu-left img{
	margin: 10px;
	padding-bottom: 5px;
}
.phangioithieu-right{
	display: flex;
}
.dealchopnhoang-timeline{
	display: flex;
	margin: 10px;
}
.dealchopnhoang-timeline p{
	margin: 10px;
	bottom: 5px;
}
.deal-clock{
	display: flex;
	margin: 10px;
	background-color: red;
	color: white;
	height: 50px;
	width: 50px;
	font-size: 20px;
	border-radius: 10px;
}
.dealchopnhoang-timeline p{
	color: white;
	align-content: center;
}